body{
    background-color:#F5F5DC;
}

.primary-color{
    color: #A59476;
}

.black-color{
    color:#000000;
}

.card{
    height:100px;
    width:100px;
    background-color:#A59476;
}

.coming-soon{
    height:1em;
    width:1em;
    background-color:#F5F5DC;
}